body{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("https://s28.postimg.org/puuf4jab1/Protestimg.png");
	color: black;
}

.navbar {
	background-color: #003366;
	color: white;
	border: none;
	border-radius: 0;
}

.logo {
	height: 80px;
}

.logo1{
	height: 2.4em;
	margin-top: -0.64em;
}

.alignment{
	text-align: center;
}

.menubutton {
	float: right;
	margin-top: 35px;
	margin-right: 10px;
	font-size: 1.2em;
	color: white;
	margin-top: 30px;
}

.btn-primary{
	height: 37px !important;
}

.acctparagraph{
	float: right;
	margin-top: 30px;
	margin-right: 5px;
	position: right;
}

.accountbuttons {
	float: right;
	font-size: 1.2em;
	color: white;
	text-align: center;
}

.red {
	background-color: #A30000 !important;
	border-color: #A30000 !important;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:visited,
.btn-default:focus {
	background-color: #A30000 !important;
	border-color: #A30000 !important;
	color: white !important;
}

.centered>*{
	display: block;
	margin: 0 auto;
}

h1#siteTitle {
	font-weight: normal;
	font-size: 3em;
}

#siteDescription {
	font-size: 1.25em;
	margin-bottom: 1.1em;
}

.pncenter {
	text-align: center;
	margin-top: 80px;
	text-decoration: none;
	color: black;
	font-size: 3em;
	text-align: center;
	margin-bottom: 10px;
	font-style: normal !important;
}

.modal-dialog{
	left: 5% !important;
}

#signupmodal{
	height: 100% !important;
}

.modal-content{
	width: 435px !important;
}

.modalinputs{
	width: 400px !important;
	margin-bottom: 10px;
}

#loginmodal{
	height: 100% !important;
}

.input-error{border-color:#d50032;}

.ul1{
	list-style-type: none;
}

#aboutusintro{
	font-size: 1.2em;
	color: black;
}

.meetteam{
	font-size: 1.3em;
	color: black;
}

@media(max-width: 500px ){
	.modal-content{
		width: 300px !important;
	}
}

.lefttext{
	float: left;
	margin: 10px 0 0 0;
}

.dropdown{
	margin: 0 0 0 5px;
}

.gray {
	background-color: #cccccc !important;
	color: black !important;
	border: #cccccc !important;
}

.pullleft{
	display: inline-block !important;
}

@media(max-width: 767px){
	#search_bar .form-control {
		margin-bottom: 10px;
	}
	#findButton {width: 100%;}
}

@media(min-width: 768px){
	#findButton {width: 170px;}
	#landing_page {margin-top: 75px;}
}

a:focus, a:hover {
	text-decoration: none;
}

.tgname{
  font-size: 1.2em;
	color: #A30000;
}

.tgdesc{
  font-size: 1.1em;
	color: black;
}

.teamimg{
  height: 14em;
  margin-right: 1.5em;
}

.tablespace{
  height: 2em;
}

.linkedintag{
  text-decoration: none;
}

.linkedintag:hover{
  color: #666666;
}
