body{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("https://s28.postimg.org/puuf4jab1/Protestimg.png");
    padding-top: 100px;
}

.navbar-default {
  background-color: #003366 !important;
  height: 100px;
  width: 100%;
  border-bottom: 0px !important;
}

.logo {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  height: 80px;
  width: 80px;
}

.navbar-brand{
  font-family: Open Sans !important;
  color: white !important;
  font-size: 3.8em !important;
  margin-top: 23px !important;
  position: fixed;
}

.navbar-brand:hover{
  color: #666666 !important;
}

.btn-primary{
  height: 37px !important;
}

.navbar-collapse{
  margin-top: 30px;
  position: relative;
}

.buttonright{
  float: right;
  margin-right: 5px;
  position: right;
}

.accountbuttons {
  font-family:Open Sans;
  float: right;
  font-size: 1.2em;
  color: white;
  text-align: center;
}

.accountbuttons:hover {
  font-weight: bold;
}

.red {
  background-color: #A30000 !important;
  font-family: Open Sans;
  border-color: #A30000 !important;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:visited,
.btn-default:focus {
  background-color: #A30000 !important;
  border-color: #A30000 !important;
  color: white !important;
}

.productimage{
  margin-bottom: 100px;
  margin-left: 45%;
  position: relative;
}

h1, h4{
  font-family: Open Sans !important;
  color: black !important;
  text-align: center !important;
}

p{
  font-family: Open Sans;
}

.form-control {
  width: 250px !important;
  height: 50px !important;
  color: #000000 !important;
  float: left;
  border-radius: 5px !important;
}

.findbutton {
  height: 50px;
  width: 150px;
}

.findbutton:hover {
  font-weight: bold;
}

.findtext {
  font-family: Open Sans;
  font-size: 1.7em;
  color: white;
  text-align: center;
}

.modal-dialog{
  left: 5% !important;
}

#signupmodal{
  height: 100% !important;
}

.modal-content{
  width: 435px !important;
}

#modalinputs{
  width: 400px !important;
  margin-bottom: 10px;
}

#loginmodal{
  height: 100% !important;
}